# Python Assignment- 2 Coding Questions

Q1- Create a string with your name and print it

In [ ]:
name = "Rishabh"
print(name)

Rishabh

Q.2- Find the length of the string "Hello World"

In [ ]:
s = "Hello World"
print(len(s))

11

Q.3- Slice the first 3 characters from the string "Python Programming".

In [ ]:
text = "Python Programming"
print(text[:3])

Pyt

Q.4- Convert the string "hello" to uppercase.

In [ ]:
word = "hello"
print(word.upper())

HELLO

Q.5- Replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
sentence = "I like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)

I like orange

Q.6- Create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Q.7- Append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

Q.8- Remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

Q.9- Access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

Q.10- Reverse the list [10, 20, 30, 40, 50].

In [ ]:
nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

[50, 40, 30, 20, 10]

Q.11- Create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

Q.12- Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

Q.13- Find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
nums = (10, 20, 5, 15)
print(min(nums))

5

Q.14- Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

Q.15- Create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ("apple", "banana", "kiwi")
print("kiwi" in fruits)

True

Q.16- Create a set with elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print("Set:", my_set)

Set: {'c', 'b', 'a'}

Q.17- Clear all elements from the set {1, 2, 3, 4, 5}

In [ ]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print("Cleared set:", numbers)

Cleared set: set()

Q.18-Remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
nums = {1, 2, 3, 4}
nums.remove(4)
print("Set after removing 4:", nums)

Set after removing 4: {1, 2, 3}

Q.19-Find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union:", union_set)

Union: {1, 2, 3, 4, 5}

Q.20-Find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [ ]:
set3 = {1, 2, 3}
set4 = {2, 3, 4}
intersection = set3.intersection(set4)
print("Intersection:", intersection)

Intersection: {2, 3}

Q.21-Create a dictionary with keys "name", "age", and "city".

In [ ]:
person = {"name": "Alice", "age": 30, "city": "Paris"}
print("Dictionary:", person)

Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

Q.22-Add a new key-value pair "country": "USA"

In [ ]:
john = {'name': 'John', 'age': 25}
john['country'] = 'USA'
print("Updated dictionary:", john)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

Q.23- 23. Access the value associated with the key "name".

In [1]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

Q.24- Remove the key "age".

In [2]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

Q.25- Check if the key "city" exists.

In [3]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists")
else:
    print("Key 'city' does not exist")

Key 'city' exists

Q.26- Create a list, tuple, and dictionary, and print them.

In [4]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30)
my_dict = {'a': 1, 'b': 2, 'c': 3}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30)
Dictionary: {'a': 1, 'b': 2, 'c': 3}

Q.27- Create a list of 5 random numbers (1â€“100), sort ascending, and print.

In [5]:
import random

numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[11, 49, 89, 91, 96]

Q.28- Create a list with strings and print element at third index.

In [6]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])   # third index = 4th element

date

Q.29- Combine two dictionaries and print result.

In [7]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q.30- Convert a list of strings into a set.

In [8]:
fruits = ["apple", "banana", "cherry", "apple"]
fruit_set = set(fruits)
print(fruit_set)

{'cherry', 'banana', 'apple'}